:root {
  /* page setup */
  --min-height: 100vh;
  --min-width: 320px;
  --max-width: 100%;
  /* font-size */
  --base-size: 10px;
  /* margin and padding */
  --mg-04: 0.4em;
  --mg-08: 0.8em;
  --mg-1-2: 1.2em;
  --mg-1-6: 1.6em;
  --mg-2: 2em;
  --mg-3: 3em;
  --pd-04: 0.4rem;
  --pd-08: 0.8rem;
  --pd-1-2: 1.2rem;
  --pd-1-6: 1.6rem;
  --pd-2: 2rem;
  --pd-3: 3rem;
  /* font-weight */
  --font-wt-400: 400;
  --font-wt-500: 500;
  --font-wt-600: 600;
  --font-wt-700: 700;
  --font-wt-800: 800;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  font-family: "open sans", sans-serif;
  font-size: var(--base-size);
}
button,
input {
  font-family: inherit;
  background: transparent;
  border: none;
  outline: none;
}
button:hover {
  cursor: pointer;
}
body {
  width: var(--max-width);
  min-height: var(--min-height);
  font-weight: var(--font-wt-400);
}